.order-item {
  box-sizing: border-box;
  padding: 20px 32px;
  display: grid;
  grid-template-columns: 80fr 119fr 20px;
  gap: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s linear;
  &:hover {
  background-color: rgba(29, 44, 64, 0.05);
  }
  &:not(:last-child) {
  border-bottom: 1px solid rgba(29, 44, 64, 0.1);
  }
  @media (max-width: 1599px) {
  grid-template-columns: 400fr 280fr 20px;
  }
  @media (max-width: 959px) {
  padding: 16px;
  grid-template-columns: 307fr 175fr 20px;
  gap: 12px;
  }
  @media (max-width: 639px) {
  padding: 20px 16px;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 639px) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: center;
    }
  }
  &__info-state {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: center;
    @media (max-width: 639px) {
    align-self: start;
    }
  }
  &__info-state-no {
    font-family: var(--font-mevermind-compact);
    font-weight: 400;
    font-size: 17px;
    color: rgba(29, 44, 64, 0.3);
    line-height: 135%;
  }
  &__info-state-status {
    display: flex;
    flex-direction: column;
    gap: 2px;
    &_success {
      .order-item__info-state-status-text {
      color: #29b24a;
      }
      .order-item__info-state-status-details {
      color: #1d2c40;
      }
    }
    &_canceled {
      opacity: 0.5;
    }
  }
  &__info-state-status-text {
    font-family: var(--font-mevermind-compact);
    font-weight: 400;
    font-size: 26px;
    color: #1d2c40;
    line-height: 110%;
    @media (max-width: 959px) {
    font-size: 20px;
    }
  }
  &__info-state-status-details {
    font-family: var(--font-mevermind-compact);
    font-weight: 400;
    font-size: 17px;
    color: #1d2c40;
    line-height: 110%;
    @media (max-width: 639px) {
    font-size: 15px;
    }
  }
  &__info-state-type {
    font-family: var(--font-mevermind-compact);
    font-weight: 500;
    font-size: 13px;
    color: rgba(29, 44, 64, 0.3);
    line-height: 125%;
  }
  &__info-price {
    font-family: var(--font-mevermind-compact);
    font-weight: 400;
    font-size: 26px;
    color: #1d2c40;
    line-height: 110%;
    align-self: center;
    @media (max-width: 959px) {
    font-size: 20px;
    }
    @media (max-width: 639px) {
    font-size: 17px;
    align-self: start;
    }
  }
  &__preview {
    display: flex;
    max-width: 740px;
    overflow: hidden;
  }
  &__preview-cart {
    box-sizing: border-box;
    display: flex;
    gap: 4px;
    .item {
    --shift: 0;
    position: relative;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 8px;
    background-color: #f3f4f5;
    align-content: center;
    overflow: hidden;
    width: 120px;
    height: 120px;
    left: calc(-35px * var(--shift));
    z-index: var(--shift);
    }
    .item .spoiler {
    margin: auto;
    max-width: 51px;
    font-family: var(--font-mevermind-compact);
    font-weight: 400;
    font-size: 15px;
    color: rgba(29, 44, 64, 0.5);
    line-height: 135%;
    text-align: center;
    }
    img {
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    }
  }
  &__preview-cart .item {
    &:nth-child(2) {
    --shift: 1;
    }
    &:nth-child(3) {
    --shift: 2;
    }
    &:nth-child(4) {
    --shift: 3;
    }
    &:nth-child(5) {
    --shift: 4;
    }
    &:nth-child(6) {
    --shift: 5;
    }
    &:nth-child(7) {
    --shift: 6;
    }
    @media (max-width: 1599px) {
    width: 110px;
    height: 110px;
    }
    @media (max-width: 959px) {
    width: 100px;
    height: 100px;
    }
    @media (max-width: 639px) {
    width: 60px;
    height: 60px;
    }
  }
  &__spoiler {
    align-self: center;
    img {
    rotate: -90deg;
    user-select: none;
    -webkit-user-drag: none;
    }
  }
  &__info .order-item {
    @media (max-width: 639px) {
    display: none;
    }
  }
  &__preview-cart .item:not(:has(.spoiler)):nth-child(5),
  .order-item {
    @media (max-width: 1820px) {
    display: none;
    }
  }
  &__preview-cart .item:has(.spoiler) {
    @media (max-width: 1820px) {
    --shift: 4;
    }
    @media (max-width: 1670px) {
    --shift: 3;
    }
    @media (max-width: 1599px) {
    --shift: 2;
    }
    @media (max-width: 959px) {
    --shift: 1;
    }
  }
  &__preview-cart .item:not(:has(.spoiler)):nth-child(4) {
    @media (max-width: 1670px) {
    display: none;
    }
  }
  &__preview-cart .item:not(:has(.spoiler)):nth-child(3) {
    @media (max-width: 1599px) {
    display: none;
    }
  }
  &__preview-cart .item:not(:has(.spoiler)):nth-child(2) {
    @media (max-width: 959px) {
    display: none;
    }
  }
  &__preview-cart .item .spoiler {
    @media (max-width: 639px) {
    max-height: 20px;
    overflow: hidden;
    }
  }
}